boto3==1.40.35
boto3-stubs==1.42.30
botocore==1.40.35
botocore-stubs==1.42.30
certifi==2026.1.4
charset-normalizer==3.4.4
decorator==4.4.2
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
jmespath==1.0.1
moviepy==1.0.3
numpy==2.4.1
pillow==12.1.0
proglog==0.1.12
prometheus_client==0.24.1
python-dateutil==2.9.0.post0
requests==2.32.5
s3transfer==0.14.0
six==1.17.0
tqdm==4.67.1
types-awscrt==0.31.1
types-s3transfer==0.16.0
urllib3==2.6.3
